/**
 * @name Murder Drones
 * @author kingmccraxel
 * @version 1
 * @description none lol
 * @orginal source used for this theme https://github.com/L-Ratio/OperaGXTheme
*/

@import url('https://fonts.googleapis.com/css2?family=Jaro:wght@100;300;400;500;700&display=swap');
@import url('https://l-ratio.github.io/OperaGXTheme/release/main.css');

:root {
  --background: url('https://i.imgur.com/Vp4zXYp.jpeg');
  --background-behind-appmount: 103,58,183,1;
  --background-accent-color-1: 255,193,7,0;
  --accent-color-1: 103,58,183;
  --accent-color-2: 103,58,183;
  --border-brightness: 1;
  --dark-background-color: 0,0,0;
  --darker-background-color: 0,0,0;
  --wintitlebar-transparency: 0.7;
  --header-transparency: 0.5;
  --serverlist-transparency: 0.5;
  --channels-transparency: 0.5;
  --chat-transparency: 0.5;
  --memberlist-transparency: 0.5;
  --wintitlebar-background-blur: 0px;
  --header-background-blur: 0px;
  --serverlist-background-blur: 0px;
  --channels-background-blur: 0px;
  --chat-background-blur: 0px;
  --memberlist-background-blur: 0px;
  --customFont: Jaro;
  --codeBlocksCustomFont: Jaro;
  --fullwhite-font: 103,58,183;
  --normal-font: 255,255,255;
  --normal-hover-font: 103,58,183;
  --muted-font: 255,17,0;
  --link-text: 103,58,183;
  --gx-red: 181,32,63 ;
  --gx-red-2: 181,32,63 ;
  --gx-yellow: 234, 234, 34  ;
  --gx-yellow-2: 255, 255, 68 ;
  --gx-green: 0, 212, 81 ;
  --gx-green-2: 0, 255, 129 ;
  --font-in-accent: 0, 0, 0  ;
  --category-name-transform: unset;
  --chatbox-transparency: 1;
  --chatbox-focused-transparency: 1;
  --other-highlighted-transparency: 1;
  --other-transparency: 1;
  --wintitlebar-transparency-color: var(--dark-background-color) ;
  --wintb-focused-alpha: 1;
  --wintb-focused-color: var(--darker-background-color);
  --header-transparency-color: var(--dark-background-color);
  --serverlist-transparency-color: var(--dark-background-color);
  --channels-transparency-color: var(--dark-background-color);
  --chat-transparency-color: var(--dark-background-color);
  --memberlist-transparency-color: var(--dark-background-color);
}



